<h2>Listas de postagens: </h2>
<br>
<a href="/admin/postagens/add">
  <button class="btn btn-success">Nova postagem</button>
</a>
{{#each postagens}}
   <div class="card mt-4">
     <div class="card-body">
       <h4>{{titulo}}</h4>
       <p>Descrição: {{descricao}}</p>
       <small>Data: {{data}}</small><br>
       <small>Categoria: {{categoria.nome}}</small><br>
      <a href="/admin/postagens/edit/{{_id}}"><button class="mt-3 btn btn-success">Editar postagem</button></a><br>
       
     </div>
   </div>
{{else}}
  <p>Nenhuma postagem registrada</p>
{{/each}}